@import "tailwindcss";

/* font genralization */
body{
  cursor: url('/cursor-hacker.png'), auto;
}


.tasa-explorer {
  font-family: "TASA Explorer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}


h1 { font-weight: 550; }
h2 { font-weight: 500; }
p  { font-weight: 400; }

/* scrollbar invisible */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
@keyframes orbit {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes orbit-reverse {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.animate-orbit {
  animation: orbit 20s linear infinite;
  transform-style: preserve-3d;
}

.animate-orbit-reverse {
  animation: orbit-reverse 20s linear infinite;
}

.rotate-x-60 {
  transform: rotateX(65deg) rotateY(-15deg); /* This creates the 3D "tilt" */
}

.rotate-x--60 {
  transform: rotateY(15deg) rotateX(-65deg); /* Counter-tilts the logo so it faces the user */
}